#main {
  height: 100vh;
}

#initialScreen,
#waitingScreen,
#ghostScreen,
#screenWithStatusBar,
.screenUnderStatusBar,
#enterGameButton {
  display: none;
}

@font-face {
  font-family: "RuiJian";
  src: url("asset/fonts/RuiJian.woff") format("woff");
}

body,
input {
  font-family: "RuiJian", sans-serif;
}

@media screen and (min-width: 768px) {
  @font-face {
    font-family: "XiHei";
    src: url("asset/fonts/XiHei.woff") format("woff");
  }
  body,
  input {
    font-family: "RuiJian", "XiHei", sans-serif;
  }
}

#initialScreen,
#screenWithStatusBar {
  padding: 15px;
}

.subScreenDVH {
  height: calc(100vh - 15px - 24.2px - 15px);
}

#statusBar {
  padding-bottom: 5px;
}

#statusRoundNumLine,
#statusTimerLine {
  visibility: hidden;
  flex: 1;
}

.hi {
  color: #61eaff;
}

#shipPanelLeft {
  width: 67%;
  height: calc(90vh - 15px - 56px - 30px);
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#shipPanelRight {
  display: flex;
  width: 33%;
  height: calc(90vh - 15px - 56px - 15px);
  color: white;
}

#shipInfo,
#itemInfo {
  overflow-y: auto;
}

#itemInfo {
  flex-grow: 1;
}

.shipConfirm {
  padding-top: 15px;
}

.thumbnail {
  flex-basis: 33.33%;
  min-width: 0;
  padding: 7.5px 15px 7.5px 5px;
}

.thumbnail img {
  transition: box-shadow 0.15s ease-in-out;
  width: 100%;
}

.thumbnail img:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px #0ff;
}

.shipTextMuted {
  color: #94a0ab;
}

#chooseShipPositionShipInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* global */

.btn:not(:disabled):not(.disabled):hover,
.btn:not(:disabled):not(.disabled).hover {
  box-shadow: 0 0 3px 3px #0ff;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  #shipPanelLeft {
    width: 50%;
    height: calc(100vh - 15px - 56px - 30px);
  }
  #shipPanelRight {
    width: 50%;
    height: calc(100vh - 15px - 56px - 15px);
  }
  .thumbnail {
    flex-basis: 100%;
  }
  .btn {
    font-weight: 500;
  }
}

/* game screen */

#gameHeader {
  /* margin-top: 15px; */
}

#gameRecord {
  /* margin-top: 10px; */
}

#gameRecord button {
  font-size: 1.15rem;
}

#gameBoard {
  width: calc(100vw - 12px);
  height: 100vw;
  margin-left: -15px;
  margin-right: -15px;
  /* margin-top: 15px; */
}

.placeholderLabel {
  width: 12px;
  height: 20px;
}

.verticalLabel {
  width: calc((100vw - 24px) / 8);
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.horizontalLabel {
  width: 12px;
  height: calc(100vw / 17 * 2);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: white;
}

.gameGrid {
  width: calc((100vw - 24px) / 8);
  height: calc((100vw - 24px) / 8);
  padding: 1px;
}

.gameGridButton {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  box-shadow: none !important;
  /* for showing ship icon */
  padding: 0px;
  font-size: 2rem;
  line-height: 1.2;
}

.gameGridButton:not(:disabled):not(.disabled):focus,
.gameGridButton:not(:disabled):not(.disabled):hover,
.gameGridButton:not(:disabled):not(.disabled).hover,
.gameGridButton:not(:disabled):not(.disabled):active {
  background-color: #17a2b8 !important;
  border-color: aqua !important;
  border-width: 2px;
}

.noGo.gameGridButton:disabled,
.noGo.gameGridButton.disabled {
  background-color: #909090;
  border-color: #909090;
}

.normalColor.gameGridButton:disabled:not(.noGo),
.normalColor.gameGridButton.disabled:not(.noGo) {
  opacity: 1;
}

#gameMyState {
  /* flex-grow: 3; */
  /* margin-top: 15px; */
  max-height: 50vw;
}

#gameFooter {
  /* margin-top: 15px; */
}

#gameFooter button {
  font-size: 1.25rem;
}

#gameHint {
  max-width: 50vw;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 1.15rem;
}

#gameProgress {
  margin-top: 1vh;
  height: 1vh;
}

#gameProgress .progress-bar {
  background-color: #14a2b8;
}

#gameShipImg {
  width: 11vh;
  height: 11vh;
  border-radius: 50%;
}

.lt {
  font-size: 1.25rem;
}

#gameStateLeft,
#gameStateMid {
  flex: 1;
}

.justifyContentEvenly {
  justify-content: space-evenly;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.dropdown-menu {
  background-color: #17a2b8;
  min-width: 5rem;
}

.dropdown-item.disabled,
.dropdown-item:disabled {
  color: #bcbcbc;
}

.dropdown-item:focus,
.dropdown-item:hover,
.dropdown-item.active {
  color: #ffffff;
  text-decoration: none;
  background-color: #138496;
}

.modalDialogEnd {
  align-items: end !important;
  padding-bottom: 15px;
}

.modal-backdrop.show {
  opacity: 0.2;
}

a:hover {
  text-decoration: none;
}

#infoModalContent {
  max-height: 75vh;
}

#infoModalBody {
  overflow-y: auto;
}

.extraItemButton {
  font-size: 1rem;
  padding: 0.15rem 0.5rem 0.2rem 0.5rem;
  margin-bottom: 0.25rem;
  margin-top: 0.2rem;
  margin-right: 0.3rem;
  margin-left: 0.2rem;
}

.sm {
  font-size: 90%;
}
