#main {
  height: 100vh;
}

#initialScreen,
#waitingScreen,
#ghostScreen,
#screenWithStatusBar,
.screenUnderStatusBar,
#enterGameButton {
  display: none;
}

@font-face {
  font-family: "RuiJian";
  src: url("asset/fonts/RuiJian.woff") format("woff");
}

body,
input {
  font-family: "RuiJian", sans-serif;
}

@media screen and (min-width: 768px) {
  @font-face {
    font-family: "XiHei";
    src: url("asset/fonts/XiHei.woff") format("woff");
  }
  body,
  input {
    font-family: "RuiJian", "XiHei", sans-serif;
  }
}

#screenWithStatusBar {
  padding: 15px;
}

.subScreenDVH {
  height: calc(100vh - 15px - 24.2px - 15px);
}

#statusBar {
  padding-bottom: 5px;
}

#statusTurnNumLine,
#statusRoomLine,
#statusTimerLine {
  visibility: hidden;
  flex: 1;
}

.hi {
  color: yellow;
}

#shipPanelLeft {
  width: 67%;
  height: calc(90vh - 15px - 56px - 30px);
  overflow-y: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#shipPanelRight {
  display: flex;
  width: 33%;
  height: calc(90vh - 15px - 56px - 15px);
  color: white;
}

.shipInfo {
  overflow-y: auto;
}

.shipConfirm {
  padding-top: 15px;
}

.shipImg {
  flex-basis: 33.33%;
  min-width: 0;
  padding: 7.5px 15px 7.5px 5px;
}

.shipImg img {
  transition: box-shadow 0.15s ease-in-out;
  width: 100%;
}

.shipImg img:hover {
  cursor: pointer;
  box-shadow: 0 0 5px 5px #0ff;
}

.shipTextMuted {
  color: #94a0ab;
}

#chooseShipPositionShipInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

/* global */

.btn:not(:disabled):not(.disabled):hover {
  box-shadow: 0 0 3px 3px #0ff;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  #shipPanelLeft {
    width: 50%;
    height: calc(100vh - 15px - 56px - 30px);
  }
  #shipPanelRight {
    width: 50%;
    height: calc(100vh - 15px - 56px - 15px);
  }
  .shipImg {
    flex-basis: 100%;
  }
  .btn {
    font-weight: 500;
  }
}

/* game screen */

#gameHeader {
  margin-top: 15px;
}

#gameRecord {
  margin-top: 10px;
}

#gameRecord button {
  font-size: 1.15rem;
}

#gameBoard {
  width: calc(100vw - 10px);
  height: 100vw;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 15px;
}

.placeholderLabel {
  width: 10px;
  height: 20px;
}

.verticalLabel {
  width: calc((100vw - 20px) / 8);
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
}

.horizontalLabel {
  width: 10px;
  height: calc(100vw / 17 * 2);
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  color: white;
}

.gameGrid {
  width: calc((100vw - 20px) / 8);
  height: calc((100vw - 20px) / 8);
  padding: 1px;
}

.gameGridButton {
  width: 100%;
  height: 100%;
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
  box-shadow: none !important;
  /* for showing ship icon */
  padding: 0px;
  font-size: 2rem;
  line-height: 1.2;
}

.gameGridButton:not(:disabled):not(.disabled):focus,
.gameGridButton:not(:disabled):not(.disabled):active {
  background-color: #17a2b8 !important;
  border-color: aqua !important;
  border-width: 2px;
}

.noGo.gameGridButton:disabled {
  background-color: #909090;
  border-color: #909090;
}

.normalColor.gameGridButton:disabled:not(.noGo) {
  opacity: 1;
}

#gameMyState {
  flex-grow: 3;
  background-color: grey;
  margin-top: 15px;
  max-height: 50vw;
}

#gameFooter {
  margin-top: 15px;
}

#gameFooter button {
  font-size: 1.25rem;
}
